<div id='{{box_id}}' class='card card-header'>
    <div class='card-title'>
        <h2 class='card-title pull-left'>{{box_title}}</h2>
        <div class='clearfix'></div>
    </div>
    <div class='card-block'>
        {% include "components/common/user-info-form.twig" %}
    </div>
</div>