{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "dashboard2" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Dashboard",
        "description" : "Your user dashboard."
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-md-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-12">            
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Welcome to {{site.site_title}}!  The dashboard and admin account features are based on the SB Admin 2 template by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a>. Other key frameworks and plugins used in this system are:
          <br><a class="alert-link" href='http://www.slimframework.com/'>Slim</a>: a microframework for PHP
          <br><a class="alert-link" href='http://twig.sensiolabs.org/'>Twig</a>: The flexible, fast, and secure
template engine for PHP
          <br><a class="alert-link" href='http://http://laravel.com/docs/5.1/eloquent/'>Eloquent</a>: Laravel's ORM
          <br><a class="alert-link" href='http://http://jquery.com/'>jQuery 1.11.2</a>
          <br><a class="alert-link" href='http://getbootstrap.com/'>Twitter Bootstrap 3.3.2</a>
          <br><a class="alert-link" href='http://handlebarsjs.com/'>Handlebars</a>: Minimal templating on steroids
          <br><a class="alert-link" href='http://fontawesome.io/'>Font Awesome</a>
          <br><a class="alert-link" href='http://jqueryvalidation.org'>jQuery Validation</a>: Form validation with jQuery
          <br><a class="alert-link" href='http://tablesorter.com/docs/'>Tablesorter 2.23.4</a>: sortable, searchable tables
          <br><a class="alert-link" href='http://momentjs.com/'>Moment.js</a>: Parse, validate, manipulate, and display dates in JavaScript
          <br>The <a class="alert-link" href='http://www.bootstrap-switch.org/'>Bootstrap Switch</a> component by Mattia Larentis,Peter Stein, and Emanuele Marchi
          <br><a class="alert-link" href="https://select2.github.io/">Select2</a>: the jQuery replacement for search boxes
          <br>All components are copyright of their respective creators.
        </div>
    </div>
</div>
<div class="row match-heights-row" data-match-heights-targets=".card-title">
    <div class="col-lg-3 col-xs-6">
        <div class="card card-primary card-inverse">
            <div class="card-title container-fluid">
                <div class="row">
                    <div class="col-xs-5 fittext" data-ratio="0.1" data-minsize="32px" data-maxsize="72px">
                        <i class="fa fa-comments f-a-5x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="huge">26</div>
                        <div>New Comments!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="card-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="card card-success card-inverse">
            <div class="card-title container-fluid">
                <div class="row">
                    <div class="col-xs-5 fittext" data-ratio="0.1" data-minsize="32px" data-maxsize="72px">
                        <i class="fa fa-tasks f-a-5x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="huge">12</div>
                        <div>New Tasks!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="card-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="card card-warning card-inverse">
            <div class="card-title container-fluid">
                <div class="row">
                    <div class="col-xs-5 fittext" data-ratio="0.1" data-minsize="32px" data-maxsize="72px">
                        <i class="fa fa-shopping-cart f-a-5x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="huge">124</div>
                        <div>New Orders!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="card-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="card card-danger card-inverse">
            <div class="card-title container-fluid">
                <div class="row">
                    <div class="col-xs-5 fittext" data-ratio="0.1" data-minsize="32px" data-maxsize="72px">
                        <i class="fa fa-support f-a-5x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="huge">13</div>
                        <div>Support Tickets!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="card-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
			<div class="sidebar-info">
				<div class="card bg-inverse">
					<div class="card-header card-header-tight">Status Cards</div>
					<div class="card-content card-block">
						<div class="drop-container" data-class="bg-inverse" data-theme="drop-theme-arrows-bounce-inverse">
							<button type="button" class="drop-target btn bg-inverse btn-xs">
								Actions
								<span class="caret"></span>
							</button>
							<ul class="drop-content" role="menu">
								<a href="#" class="dropdown-item">Action</a>
								<a href="#" class="dropdown-item">Another action</a>
								<a href="#" class="dropdown-item">Something else here</a>
								<div class="dropdown-divider divider-tighter"></div>
								<a href="#" class="dropdown-item">Separated link</a>
							</ul>
						</div></div>
				</div>
			</div>
				<!--div class=" card list-group list-group-t-dark">
					<a class="list-group-item list-group-item-tight"><i class="fa fa-comments m-r"></i> 5 @{{user.user_name}}</a>
					<a class="list-group-item list-group-item-tight"><i class="fa fa-tasks m-r"></i> 2 Assigned Tasks</a>
					<a class="list-group-item list-group-item-tight"><i class="fa fa-shopping-cart m-r"></i> Process Orders</a>
					<a class="list-group-item list-group-item-tight"><i class="fa fa-support m-r"></i> 3 Emergency Tickets</a>
				</div-->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-xl-8">
        <div class="card card-default">
            <div class="card-header">
				<div class="">
					<i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
					<div class="pull-right">
						<div class="drop-container" data-class="" data-theme="drop-theme-arrows-bounce">
							<button type="button" class="drop-target btn btn-xs">
								Actions
								<span class="caret"></span>
							</button>
							<ul class="drop-content" role="menu">
								<a href="#" class="dropdown-item">Action</a>
								<a href="#" class="dropdown-item">Another action</a>
								<a href="#" class="dropdown-item">Something else here</a>
								<div class="dropdown-divider divider-tighter"></div>
								<a href="#" class="dropdown-item">Separated link</a>
							</ul>
						</div>
					</div>
				</div>
            </div>
            <!-- /.card-title -->
            <div class="card-block">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.card-block -->
			<div class="sidebar-info">
				<div class="card">
					<div class="card-header card-header-tight">Area Chart</div>
					<div class="card-content card-block">...</div>
				</div>
			</div>
        </div>
        <!-- /.card -->
        <div class="card card-default">
            <div class="card-header">
				<div class="">
					<i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
					<div class="pull-right">
						<div class="drop-container" data-class="" data-theme="drop-theme-arrows-bounce">
							<button type="button" class="drop-target btn btn-xs">
								Actions
								<span class="caret"></span>
							</button>
							<ul class="drop-content" role="menu">
								<a href="#" class="dropdown-item">Action</a>
								<a href="#" class="dropdown-item">Another action</a>
								<a href="#" class="dropdown-item">Something else here</a>
								<div class="dropdown-divider divider-tighter"></div>
								<a href="#" class="dropdown-item">Separated link</a>
							</ul>
						</div>
					</div>
				</div>
            </div>
            <!-- /.card-title -->
            <div class="card-block container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>3326</td>
                                        <td>10/21/2013</td>
                                        <td>3:29 PM</td>
                                        <td>$321.33</td>
                                    </tr>
                                    <tr>
                                        <td>3325</td>
                                        <td>10/21/2013</td>
                                        <td>3:20 PM</td>
                                        <td>$234.34</td>
                                    </tr>
                                    <tr>
                                        <td>3324</td>
                                        <td>10/21/2013</td>
                                        <td>3:03 PM</td>
                                        <td>$724.17</td>
                                    </tr>
                                    <tr>
                                        <td>3323</td>
                                        <td>10/21/2013</td>
                                        <td>3:00 PM</td>
                                        <td>$23.71</td>
                                    </tr>
                                    <tr>
                                        <td>3322</td>
                                        <td>10/21/2013</td>
                                        <td>2:49 PM</td>
                                        <td>$8345.23</td>
                                    </tr>
                                    <tr>
                                        <td>3321</td>
                                        <td>10/21/2013</td>
                                        <td>2:23 PM</td>
                                        <td>$245.12</td>
                                    </tr>
                                    <tr>
                                        <td>3320</td>
                                        <td>10/21/2013</td>
                                        <td>2:15 PM</td>
                                        <td>$5663.54</td>
                                    </tr>
                                    <tr>
                                        <td>3319</td>
                                        <td>10/21/2013</td>
                                        <td>2:13 PM</td>
                                        <td>$943.45</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
				</div>
                <!-- /.row -->
                <div class="row">
                    <!-- /.col-md-4 (nested) -->
                    <div class="col-lg-12">
                        <div id="morris-bar-chart"></div>
                    </div>
                    <!-- /.col-md-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-block -->
			<div class="sidebar-info">
				<div class="card">
					<div class="card-header card-header-tight">Bar Chart</div>
					<div class="card-content card-block">...</div>
				</div>
			</div>
        </div>
        <!-- /.card -->
        <div class="card card-default">
            <div class="card-header">
				<div class="">
					<i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
				</div>
            </div>
            <!-- /.card-title -->
            <div class="card-block">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-card">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                        </div>
                        <div class="timeline-card">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                        </div>
                        <div class="timeline-card">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-card">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"><i class="fa fa-save"></i>
                        </div>
                        <div class="timeline-card">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                <hr>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-gear"></i>  <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider divider-tight"></div>
										<a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-card">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="timeline-card">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.card-block -->
			<div class="sidebar-info">
				<div class="card">
					<div class="card-header card-header-tight">Timeline</div>
					<div class="card-content card-block">...</div>
				</div>
			</div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-md-8 -->
    <div class="col-xl-4">
        <div class="card card-default">
            <div class="card-header">
				<div class="">
					<i class="fa fa-bell fa-fw"></i> Notifications
				</div>
            </div>
            <!-- /.card-title -->
            <div class="card-block-tight">
                <div class="list-group">
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                        <span class="pull-right text-muted small"><em>11:13 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                        <span class="pull-right text-muted small"><em>10:57 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                        <span class="pull-right text-muted small"><em>9:49 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <i class="fa fa-money fa-fw"></i> Payment Received
                        <span class="pull-right text-muted small"><em>Yesterday</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.card-block -->
        </div>
        <!-- /.card -->
        <div class="card card-default">
            <div class="card-header">
				<div class="">
					<i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
				</div>
            </div>
            <div class="card-block embed-responsive embed-responsive-4by3">
                <div id="morris-donut-chart" class="embed-responsive-item"></div>
            </div>
            <!-- /.card-block -->
            <a href="#" class="btn btn-default btn-block">View Details</a>
        </div>
        <!-- /.card -->
        <div class="chat-card card card-default">
            <div class="card-header">
				<div class="">
					<i class="fa fa-comments fa-fw"></i>
					Chat
					<div class="btn-group dropdown pull-right">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">
								<a href="#" class="dropdown-item">
									<i class="fa fa-refresh fa-fw"></i> Refresh
								</a>
								<a href="#" class="dropdown-item" class="dropdown-item">
									<i class="fa fa-check-circle fa-fw"></i> Available
								</a>
								<a href="#" class="dropdown-item">
									<i class="fa fa-times fa-fw"></i> Busy
								</a>
								<a href="#" class="dropdown-item">
									<i class="fa fa-clock-o fa-fw"></i> Away
								</a>
								<div class="dropdown-divider divider-tighter"></div>
								<a href="#" class="dropdown-item">
									<i class="fa fa-sign-out fa-fw"></i> Sign Out
								</a>
						</ul>
					</div>
				</div>
            </div>
            <!-- /.card-title -->
            <div class="card-block">
                <ul class="chat">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header clearfix">
                                <strong class="primary-font">Jack Sparrow</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                </small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header clearfix">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header clearfix">
                                <strong class="primary-font">Jack Sparrow</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header clearfix">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.card-block -->
            <div class="card-footer">
                <div class="input-group input-group-sm">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card .chat-card -->
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
{% endblock %}
{% block page_scripts %}
    <script src="{{site.uri.js}}/morris-data.js"></script>
{% endblock %}